@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
/* utilidades */
.color-principal {
  color: #7ab849;
}
.text-xss {
  font-size: 0.7rem;
  line-height: 0.8rem;
}
.p-1-sm {
  padding: 0.2rem;
}
.mb-60px {
  margin-bottom: 60px;
}
.mb-60px-hidden-sm {
  margin-bottom: 60px;
}
@media (min-width: 576px) {
  .mb-60px-hidden-sm {
    margin-bottom: 0;
  }
}
.badge-descuento {
  padding: 2px 10px;
  font-size: 0.68rem;
  line-height: 1rem;
}

.navbar-buttom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.splide__pagination {
  padding-top: 1rem;
  bottom: 0.1rem;
}
.splide__pagination__page.is-active {
  background: #777777;
}

/* flechas de slider */
.splide__arrow {
  color: red;
  background-color: transparent;
}

/* fin de flechas con slider */
.bg-principal {
  color: #55b849;
  border-color: #55b849;
}
.bg-principal-block {
  color: white;
  background-color: #55b849;
}
.hover-color-principal-outline:hover {
  color: white;
  background-color: #55b849;
}
.fondo-color-principal {
  background-color: #e8f6f2;
}
.color-resultado {
  color: #49b89b;
}
